body {
  background: #ce6868;
  color: #383737;
  text-align: center;
}

input {
  border-radius: 25px;
  margin: 10px;
  text-align: center;
  box-shadow: 1px 1px;
}

.button {
  border-radius: 25px;
  box-shadow: 1px 1px;
  margin: 2px;
}

#result {
  background: whitesmoke;
  border: 2px solid #383737;
  height: auto;
  width: 30%;
  box-shadow: 3px 5px;
  margin: 2% auto;
}

#feed {
  display: flex;
  flex-direction: column;
}

#item {
  background: whitesmoke;
  border: 2px solid #383737;
  height: 15%;
  width: 50%;
  margin: 25px;
  box-shadow: 3px 5px;
  margin: 1% auto;
  font-size: 20;
}

#item p {
  font-size: medium
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;;
  bottom: 0;
  width: 100%;
  margin-bottom: 1%;
  align-items: center;
  font-size: medium;
}

.clearbutton {
  background: rgb(56, 55, 55);
  opacity: 0.6;
  color: #ce6868;
  border: 1px solid #383737;
  padding: 10px;
}
